## Github actions to execute jobs based on branch

name: deploy_ENV

on:
  push:
    branches:
      ## Execute deploy-devel
      - dev
      ## Execute deploy-stg
      - production
  pull_request:
    branches:
      ## Execute prod-deploy ??
      - production

jobs:
  deploy_DEVEL:
    runs-on: ubuntu-latest
    environment: https://jenkins.sbit.io/
    steps:
      - name: Check out repository
        uses: actions/checkout@v2
      -
        name: Trigger Jenkins Job deploy-DEV
        if: github.ref == 'refs/heads/dev'
        uses: ./.github/docker-action
        env:
          JENKINS_USER: ${{ secrets.JENKINS_USER }}
          JENKINS_TOKEN: ${{ secrets.JENKINS_TOKEN }}
        with:
          JENKINS_HOST: "https://jenkins.sbit.io/"
          JENKINS_JOB: "admin/dev/sbitio-github/deploy-ENV/deploy-devel"
      -
        name: Trigger Jenkins Job deploy-STG
        if: github.ref == 'refs/heads/production'
        uses: ./.github/docker-action
        env:
          JENKINS_USER: ${{ secrets.JENKINS_USER }}
          JENKINS_TOKEN: ${{ secrets.JENKINS_TOKEN }}
        with:
          JENKINS_HOST: "https://jenkins.sbit.io/"
          JENKINS_JOB: "admin/dev/sbitio-github/deploy-ENV/deploy-devel"
#  PROD_deploy:
#    runs-on: test-runner
#    environment: https://jenkins.sbit.io/
#    steps:
#      - name: Trigger Jenkins Job
#        uses: GoldenspearLLC/build-jenkins-job@1.0.0
#        with:
#          jenkins-url: "https://jenkins.sbit.io/"
#          jenkins-token: ${{ secrets.JENKINS_TOKEN }}
#          user: ${{ secrets.JENKINS_USER }}
#          job-path: "/job/admin/job/dev/job/sbitio-github/job/deploy-ENV/job/prod-deploy/"
